{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %} Pick Date {% endblock %}
{% block body %}

<div class="intro-header">
    <div class="container">
        <br><br><br><br><br>
        {{ utils.flashed_messages() }}
        <div class="row">
          <div class="col-md-10 col-md-offset-2 col-sm-6 col-sm-offset-3">
            <div class="card card-signup">
              
                <div class="header header-info text-center">
                  <h4>Enter Person Details </h4>
                 
                </div>
                <div class="content text-left col-md-offset-1 col-sm-offset-1">
                  
                    <form class="form form-horizontal" method="post" role="form">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_errors(form, hiddens="only") }}
                      
                        {{ wtf.form_field(form.name) }}
                        {{ wtf.form_field(form.designation) }}
                        <h5> Location to be authorized in </h5>
                        {% for location in locations %}
                       <input id="{{ location.cdesc }}" type="checkbox" name="ingredients[]" value="{{ location.cdesc }}" />
                      <label for="{{ location.cdesc }}">{{ location.cdesc }}</label>
                      <br />
                       {% endfor %}
                      {{ wtf.form_field(form.submit, button_map={'submit' : 'info'})  }}

                      </form>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  
{% endblock %}