{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Authenticated{% endblock %}
{% block body %}



<div class="intro-header">
        <div class="container">
            <br><br><br><br><br>
            {{ utils.flashed_messages() }}
           
            <div class="row">
              <div class="col-md-10 col-md-offset-2 col-sm-6 col-sm-offset-3">
                <div class="card card-signup">

                    <div class="header header-info text-center">
                      <h4>Authenticated Members</h4>
                    </div>
                    <div class="col-md-12">
                            <div class="col-md-12 content text-left">
                                    {% for ppl in peopleDict: %}
                                    <a href="{{ url_for('viewPerson' , user =ppl.person_id) }}" >{{ppl.person_name}} </a> <br>
                                
                                    <div class="image floated_img" >
                                      <img src= {{ peopleDict[ppl].image_path }} id="myImage" class="img-rounded img-raised object-fit_cover"  width="120" > 

                                      </div>
                                      <br><br><br><br>
                                    {% endfor %}
                                    <br><br>
                                    </div>
                        
                    <a href="{{ url_for('addPeople') }}" class="btn btn-info text-center">Add People </a>
                    {%  if peopleDict %}
                    <a href="{{ url_for('removePeople') }}" class="btn btn-info text-center">Remove People </a>
                    {%  endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

{% endblock %}
